h1 {
    color: black;  
    background-color: mediumseagreen;
    text-align: center;
}

h4 {
    color: black;  
    background-color: mediumseagreen;
    text-align: center;
}
body {
    background-color: peachpuff
    
}
section{
    color: black;
}

table{
    color: black
}
p {
    color: black
}

form{
    color: black;
}

select{
    color: black;
}

label{
    color: black;
}

option{
    color: black;
}

